<a href="https://colab.research.google.com/github/uladzimirkapeika/1c_sales/blob/master/25gb_1c.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import libraries

In [1]:
!pip install neptune-client
!pip install neptune-client neptune-contrib[monitoring]

Collecting neptune-client
  Downloading https://files.pythonhosted.org/packages/4a/d6/00edcbff22f7ada15ff7b3e3c21b4cbbdd2bdd54aa72424691ad038c7d66/neptune-client-0.4.119.tar.gz (90kB)
     |████████████████████████████████| 92kB 2.7MB/s
Collecting bravado
  Downloading https://files.pythonhosted.org/packages/2a/cc/b3c8dadc3f51fa184db10172f031c1c5206b0e67f3207217bbdd326e81a4/bravado-10.6.2-py2.py3-none-any.whl
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (7.1.2)
Collecting future>=0.17.1
  Downloading https://files.pythonhosted.org/packages/45/0b/38b06fd9b92dc2b68d58b75f900e97884c45bedd2ff83203d933cf5851c9/future-0.18.2.tar.gz (829kB)
     |████████████████████████████████| 829kB 9.8MB/s
Collecting py3nvml
  Downloading https://files.pythonhosted.org/packages/53/b3/cb30dd8cc1198ae3fdb5a320ca7986d7ca76e23d16415067eafebff8685f/py3nvml-0.2.6-py3-none-any.whl (55kB)
     |████████████████████████████████| 61kB 6.4MB/s
Requirement already satisfied: oauthlib>=2.1.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (3.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from neptune-client) (1.0.5)
Requirement already satisfied: Pillow>=1.1.6 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (7.0.0)
Collecting PyJWT
  Downloading https://files.pythonhosted.org/packages/87/8b/6a9f14b5f781697e51259d81657e6048fd31a113229cf346880bb7545565/PyJWT-1.7.1-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (2.23.0)
Requirement already satisfied: requests-oauthlib>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (1.3.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (1.15.0)
Collecting websocket-client>=0.35.0
  Downloading https://files.pythonhosted.org/packages/4c/5f/f61b420143ed1c8dc69f9eaec5ff1ac36109d52c80de49d66e0c36c3dfdf/websocket_client-0.57.0-py2.py3-none-any.whl (200kB)
     |████████████████████████████████| 204kB 18.9MB/s
Collecting GitPython>=2.0.8
  Downloading https://files.pythonhosted.org/packages/f9/1e/a45320cab182bf1c8656107b3d4c042e659742822fc6bff150d769a984dd/GitPython-3.1.7-py3-none-any.whl (158kB)
     |████████████████████████████████| 163kB 16.0MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from neptune-client) (20.4)
Collecting msgpack-python
  Downloading https://files.pythonhosted.org/packages/8a/20/6eca772d1a5830336f84aca1d8198e5a3f4715cd1c7fc36d3cc7f7185091/msgpack-python-0.5.6.tar.gz (138kB)
     |████████████████████████████████| 143kB 18.5MB/s
Collecting bravado-core>=5.16.1
  Downloading https://files.pythonhosted.org/packages/76/11/18e9d28a156c33f2d5f15a5e155dc7130250acb0a569255a2b6b307b596d/bravado_core-5.17.0-py2.py3-none-any.whl (67kB)
     |████████████████████████████████| 71kB 6.2MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (3.7.4.2)
Collecting monotonic
  Downloading https://files.pythonhosted.org/packages/ac/aa/063eca6a416f397bd99552c534c6d11d57f58f2e94c14780f3bbf818c4cf/monotonic-1.5-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (2.8.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (3.13)
Collecting simplejson
  Downloading https://files.pythonhosted.org/packages/73/96/1e6b19045375890068d7342cbe280dd64ae73fd90b9735b5efb8d1e044a1/simplejson-3.17.2-cp36-cp36m-manylinux2010_x86_64.whl (127kB)
     |████████████████████████████████| 133kB 15.8MB/s
Collecting xmltodict
  Downloading https://files.pythonhosted.org/packages/28/fd/30d5c1d3ac29ce229f6bdc40bbc20b28f716e8b363140c26eff19122d8a5/xmltodict-0.12.0-py2.py3-none-any.whl
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->neptune-client) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->neptune-client) (1.18.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client) (3.0.4)
Collecting gitdb<5,>=4.0.1
  Downloading https://files.pythonhosted.org/packages/48/11/d1800bca0a3bae820b84b7d813ad1eff15a48a64caea9c823fc8c1b119e8/gitdb-4.0.5-py3-none-any.whl (63kB)
     |████████████████████████████████| 71kB 7.0MB/s
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->neptune-client) (2.4.7)
Collecting jsonref
  Downloading https://files.pythonhosted.org/packages/07/92/f8e4ac824b14af77e613984e480fa818397c72d4141fc466decb26752749/jsonref-0.2-py3-none-any.whl
Collecting swagger-spec-validator>=2.0.1
  Downloading https://files.pythonhosted.org/packages/09/de/e78cefbf5838b434b63a789264b79821cb2267f1498fbed23ef8590133e4/swagger_spec_validator-2.7.3-py2.py3-none-any.whl
Requirement already satisfied: msgpack>=0.5.2 in /usr/local/lib/python3.6/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client) (1.0.0)
Requirement already satisfied: jsonschema[format]>=2.5.1 in /usr/local/lib/python3.6/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client) (2.6.0)
Collecting smmap<4,>=3.0.1
  Downloading https://files.pythonhosted.org/packages/b0/9a/4d409a6234eb940e6a78dfdfc66156e7522262f5f2fecca07dc55915952d/smmap-3.0.4-py2.py3-none-any.whl
Collecting webcolors; extra == "format"
  Downloading https://files.pythonhosted.org/packages/12/05/3350559de9714b202e443a9e6312937341bd5f79f4e4f625744295e7dd17/webcolors-1.11.1-py3-none-any.whl
Collecting rfc3987; extra == "format"
  Downloading https://files.pythonhosted.org/packages/65/d4/f7407c3d15d5ac779c3dd34fbbc6ea2090f77bd7dd12f207ccf881551208/rfc3987-1.3.8-py2.py3-none-any.whl
Collecting strict-rfc3339; extra == "format"
  Downloading https://files.pythonhosted.org/packages/56/e4/879ef1dbd6ddea1c77c0078cd59b503368b0456bcca7d063a870ca2119d3/strict-rfc3339-0.7.tar.gz
Building wheels for collected packages: neptune-client, future, msgpack-python, strict-rfc3339
  Building wheel for neptune-client (setup.py) ... done
  Created wheel for neptune-client: filename=neptune_client-0.4.119-py2.py3-none-any.whl size=150019 sha256=ce6fd19b12e3657f6d709bec6722ed3bd28ddea17dcf51167b0231ee169e2f81
  Stored in directory: /root/.cache/pip/wheels/84/5c/c1/a81e80761b94b4467fd3fda1fd3109463702f6247fc422eb33
  Building wheel for future (setup.py) ... done
  Created wheel for future: filename=future-0.18.2-cp36-none-any.whl size=491057 sha256=40d63602c5be5778a9147fe1e23ffa860a4fff954172d4e1a6ab754bcc4034f4
  Stored in directory: /root/.cache/pip/wheels/8b/99/a0/81daf51dcd359a9377b110a8a886b3895921802d2fc1b2397e
  Building wheel for msgpack-python (setup.py) ... done
  Created wheel for msgpack-python: filename=msgpack_python-0.5.6-cp36-cp36m-linux_x86_64.whl size=304235 sha256=8c43da372af4d9925416f86f9d35f8f97b28762074fd48cd97caa0667ad23246
  Stored in directory: /root/.cache/pip/wheels/d5/de/86/7fa56fda12511be47ea0808f3502bc879df4e63ab168ec0406
  Building wheel for strict-rfc3339 (setup.py) ... done
  Created wheel for strict-rfc3339: filename=strict_rfc3339-0.7-cp36-none-any.whl size=18120 sha256=a8b89aa421ea15fd05957c31264027fc12de357b0ceba91c4122155c1b2ce96d
  Stored in directory: /root/.cache/pip/wheels/bb/af/c9/b6e9fb5f9b2470e4ed2a7241c9ab3a8cdd3bc8555ae02ca2e6
Successfully built neptune-client future msgpack-python strict-rfc3339
Installing collected packages: msgpack-python, jsonref, swagger-spec-validator, simplejson, bravado-core, monotonic, bravado, future, xmltodict, py3nvml, PyJWT, websocket-client, smmap, gitdb, GitPython, neptune-client, webcolors, rfc3987, strict-rfc3339
  Found existing installation: future 0.16.0
    Uninstalling future-0.16.0:
      Successfully uninstalled future-0.16.0
Successfully installed GitPython-3.1.7 PyJWT-1.7.1 bravado-10.6.2 bravado-core-5.17.0 future-0.18.2 gitdb-4.0.5 jsonref-0.2 monotonic-1.5 msgpack-python-0.5.6 neptune-client-0.4.119 py3nvml-0.2.6 rfc3987-1.3.8 simplejson-3.17.2 smmap-3.0.4 strict-rfc3339-0.7 swagger-spec-validator-2.7.3 webcolors-1.11.1 websocket-client-0.57.0 xmltodict-0.12.0
Requirement already satisfied: neptune-client in /usr/local/lib/python3.6/dist-packages (0.4.119)
Collecting neptune-contrib[monitoring]
  Downloading https://files.pythonhosted.org/packages/02/5a/78660164c93e1572f84f6580beef5b6ac7ef9f421abed10e11d375a0b6d0/neptune-contrib-0.23.3.tar.gz (63kB)
     |████████████████████████████████| 71kB 2.0MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from neptune-client) (1.0.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from neptune-client) (20.4)
Requirement already satisfied: GitPython>=2.0.8 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (3.1.7)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (1.15.0)
Requirement already satisfied: Pillow>=1.1.6 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (7.0.0)
Requirement already satisfied: future>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (0.18.2)
Requirement already satisfied: websocket-client>=0.35.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (0.57.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (7.1.2)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (2.23.0)
Requirement already satisfied: oauthlib>=2.1.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (3.1.0)
Requirement already satisfied: PyJWT in /usr/local/lib/python3.6/dist-packages (from neptune-client) (1.7.1)
Requirement already satisfied: py3nvml in /usr/local/lib/python3.6/dist-packages (from neptune-client) (0.2.6)
Requirement already satisfied: requests-oauthlib>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (1.3.0)
Requirement already satisfied: bravado in /usr/local/lib/python3.6/dist-packages (from neptune-client) (10.6.2)
Collecting attrdict>=2.0.0
  Downloading https://files.pythonhosted.org/packages/ef/97/28fe7e68bc7adfce67d4339756e85e9fcf3c6fd7f0c0781695352b70472c/attrdict-2.0.1-py2.py3-none-any.whl
Requirement already satisfied: joblib>=0.13 in /usr/local/lib/python3.6/dist-packages (from neptune-contrib[monitoring]) (0.16.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from neptune-contrib[monitoring]) (3.2.2)
Collecting scikit-optimize>=0.7.4
  Downloading https://files.pythonhosted.org/packages/5c/87/310b52debfbc0cb79764e5770fa3f5c18f6f0754809ea9e2fc185e1b67d3/scikit_optimize-0.7.4-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 4.0MB/s
Collecting sacred>=0.7.5
  Downloading https://files.pythonhosted.org/packages/f9/7f/c5679977f1eceac432c59cc92bd1ddb7272c282c3db8eb846d0e1c03b6a0/sacred-0.8.1.tar.gz (90kB)
     |████████████████████████████████| 92kB 6.5MB/s
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.6/dist-packages (from neptune-contrib[monitoring]) (0.22.2.post1)
Collecting scikit-plot>=0.3.7
  Downloading https://files.pythonhosted.org/packages/7c/47/32520e259340c140a4ad27c1b97050dd3254fdc517b1d59974d47037510e/scikit_plot-0.3.7-py3-none-any.whl
Requirement already satisfied: seaborn>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from neptune-contrib[monitoring]) (0.10.1)
Collecting aif360>=0.2.1
  Downloading https://files.pythonhosted.org/packages/3b/e9/f2a936a00c65ce7b4d45587a33c4522fabd773f7325d505a87d133a1dabc/aif360-0.3.0-py3-none-any.whl (165kB)
     |████████████████████████████████| 174kB 30.1MB/s
Requirement already satisfied: xgboost>=0.82 in /usr/local/lib/python3.6/dist-packages (from neptune-contrib[monitoring]) (0.90)
Collecting graphviz>=0.13.2
  Downloading https://files.pythonhosted.org/packages/62/dc/9dd6a6b9b8977248e165e075b109eea6e8eac71faa28ca378c3d98e54fbe/graphviz-0.14.1-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->neptune-client) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->neptune-client) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->neptune-client) (2018.9)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->neptune-client) (2.4.7)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.6/dist-packages (from GitPython>=2.0.8->neptune-client) (4.0.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client) (1.24.3)
Requirement already satisfied: xmltodict in /usr/local/lib/python3.6/dist-packages (from py3nvml->neptune-client) (0.12.0)
Requirement already satisfied: msgpack-python in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (0.5.6)
Requirement already satisfied: simplejson in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (3.17.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (3.7.4.2)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (3.13)
Requirement already satisfied: bravado-core>=5.16.1 in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (5.17.0)
Requirement already satisfied: monotonic in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (1.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->neptune-contrib[monitoring]) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->neptune-contrib[monitoring]) (1.2.0)
Collecting pyaml>=16.9
  Downloading https://files.pythonhosted.org/packages/15/c4/1310a054d33abc318426a956e7d6df0df76a6ddfa9c66f6310274fb75d42/pyaml-20.4.0-py2.py3-none-any.whl
Requirement already satisfied: scipy>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from scikit-optimize>=0.7.4->neptune-contrib[monitoring]) (1.4.1)
Requirement already satisfied: docopt<1.0,>=0.3 in /usr/local/lib/python3.6/dist-packages (from sacred>=0.7.5->neptune-contrib[monitoring]) (0.6.2)
Collecting jsonpickle<2.0,>=1.2
  Downloading https://files.pythonhosted.org/packages/af/ca/4fee219cc4113a5635e348ad951cf8a2e47fed2e3342312493f5b73d0007/jsonpickle-1.4.1-py2.py3-none-any.whl
Collecting munch<3.0,>=2.0.2
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: wrapt<2.0,>=1.0 in /usr/local/lib/python3.6/dist-packages (from sacred>=0.7.5->neptune-contrib[monitoring]) (1.12.1)
Collecting py-cpuinfo>=4.0
  Downloading https://files.pythonhosted.org/packages/f6/f5/8e6e85ce2e9f6e05040cf0d4e26f43a4718bcc4bce988b433276d4b1a5c1/py-cpuinfo-7.0.0.tar.gz (95kB)
     |████████████████████████████████| 102kB 7.7MB/s
Collecting colorama>=0.4
  Downloading https://files.pythonhosted.org/packages/c9/dc/45cdef1b4d119eb96316b3117e6d5708a08029992b2fee2c143c7a0a5cc5/colorama-0.4.3-py2.py3-none-any.whl
Requirement already satisfied: smmap<4,>=3.0.1 in /usr/local/lib/python3.6/dist-packages (from gitdb<5,>=4.0.1->GitPython>=2.0.8->neptune-client) (3.0.4)
Requirement already satisfied: jsonref in /usr/local/lib/python3.6/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client) (0.2)
Requirement already satisfied: msgpack>=0.5.2 in /usr/local/lib/python3.6/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client) (1.0.0)
Requirement already satisfied: swagger-spec-validator>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client) (2.7.3)
Requirement already satisfied: jsonschema[format]>=2.5.1 in /usr/local/lib/python3.6/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client) (2.6.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.6/dist-packages (from jsonpickle<2.0,>=1.2->sacred>=0.7.5->neptune-contrib[monitoring]) (1.7.0)
Requirement already satisfied: rfc3987; extra == "format" in /usr/local/lib/python3.6/dist-packages (from jsonschema[format]>=2.5.1->bravado-core>=5.16.1->bravado->neptune-client) (1.3.8)
Requirement already satisfied: webcolors; extra == "format" in /usr/local/lib/python3.6/dist-packages (from jsonschema[format]>=2.5.1->bravado-core>=5.16.1->bravado->neptune-client) (1.11.1)
Requirement already satisfied: strict-rfc3339; extra == "format" in /usr/local/lib/python3.6/dist-packages (from jsonschema[format]>=2.5.1->bravado-core>=5.16.1->bravado->neptune-client) (0.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata->jsonpickle<2.0,>=1.2->sacred>=0.7.5->neptune-contrib[monitoring]) (3.1.0)
Building wheels for collected packages: neptune-contrib, sacred, py-cpuinfo
  Building wheel for neptune-contrib (setup.py) ... done
  Created wheel for neptune-contrib: filename=neptune_contrib-0+unknown-cp36-none-any.whl size=74477 sha256=2a5e8169a12c8d332a8eafd2ffeb09f41e4df0acb7a967bc2945737bc0da5439
  Stored in directory: /root/.cache/pip/wheels/49/3f/f0/b7d45f3c932f79b6a56e31fb0b70fbfa231f6d350bdc901bf8
  Building wheel for sacred (setup.py) ... done
  Created wheel for sacred: filename=sacred-0.8.1-py2.py3-none-any.whl size=105018 sha256=0c3e3fea5a616a0e79e27d71be3f9e08706d4bfc472e00f6c2569098959fdf6d
  Stored in directory: /root/.cache/pip/wheels/11/a8/f6/1d5f073245cb0a221962713adf81e56c1c9608083f85ecac9b
  Building wheel for py-cpuinfo (setup.py) ... done
  Created wheel for py-cpuinfo: filename=py_cpuinfo-7.0.0-cp36-none-any.whl size=20069 sha256=fa1df16d41043c705f18c2968f54a5cc6d627af5760365fb38e62bf1e05da74e
  Stored in directory: /root/.cache/pip/wheels/f1/93/7b/127daf0c3a5a49feb2fecd468d508067c733fba5192f726ad1
Successfully built neptune-contrib sacred py-cpuinfo
Installing collected packages: attrdict, pyaml, scikit-optimize, jsonpickle, munch, py-cpuinfo, colorama, sacred, scikit-plot, aif360, graphviz, neptune-contrib
  Found existing installation: graphviz 0.10.1
    Uninstalling graphviz-0.10.1:
      Successfully uninstalled graphviz-0.10.1
Successfully installed aif360-0.3.0 attrdict-2.0.1 colorama-0.4.3 graphviz-0.14.1 jsonpickle-1.4.1 munch-2.5.0 neptune-contrib-0+unknown py-cpuinfo-7.0.0 pyaml-20.4.0 sacred-0.8.1 scikit-optimize-0.7.4 scikit-plot-0.3.7

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from itertools import product
from xgboost import XGBRegressor
from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb
from sklearn.feature_extraction.text import TfidfVectorizer
import neptune
from neptunecontrib.monitoring.lightgbm import neptune_monitor

NEPTUNE_API_TOKEN="eyJhcGlfYWRkcmVzcyI6Imh0dHBzOi8vdWkubmVwdHVuZS5haSIsImFwaV91cmwiOiJodHRwczovL3VpLm5lcHR1bmUuYWkiLCJhcGlfa2V5IjoiOGQwMzE5MWYtOWRiNi00NGIyLWIyNWQtMzU3NWFkYmM4ZTVkIn0="

neptune.init('volodyakopeyko/1c-sales', api_token=NEPTUNE_API_TOKEN)
neptune.create_experiment(name='1c_sales')

NVMLError: Driver Not Loaded - GPU usage metrics may not be reported.

https://ui.neptune.ai/volodyakopeyko/1c-sales/e/CSAL-1

Experiment(CSAL-1)

Read data

In [7]:
test = pd.read_csv('/content/drive/My Drive/1C/test.csv')
sales = pd.read_csv('/content/drive/My Drive/1C/sales_train.csv')
shops = pd.read_csv('/content/drive/My Drive/1C//shops.csv')
items = pd.read_csv('/content/drive/My Drive/1C/items.csv')
item_cats = pd.read_csv('/content/drive/My Drive/1C/item_categories.csv')

Shops

In [8]:
shops['city'] = shops['shop_name'].apply(lambda x: x.split()[0].lower())
shops.loc[shops.city == '!якутск', 'city'] = 'якутск'
shops['city_code'] = LabelEncoder().fit_transform(shops['city'])

coords = dict()
coords['якутск'] = (62.028098, 129.732555, 4)
coords['адыгея'] = (44.609764, 40.100516, 3)
coords['балашиха'] = (55.8094500, 37.9580600, 1)
coords['волжский'] = (53.4305800, 50.1190000, 3)
coords['вологда'] = (59.2239000, 39.8839800, 2)
coords['воронеж'] = (51.6720400, 39.1843000, 3)
coords['выездная'] = (0, 0, 0)
coords['жуковский'] = (55.5952800, 38.1202800, 1)
coords['интернет-магазин'] = (0, 0, 0)
coords['казань'] = (55.7887400, 49.1221400, 4)
coords['калуга'] = (54.5293000, 36.2754200, 4)
coords['коломна'] = (55.0794400, 38.7783300, 4)
coords['красноярск'] = (56.0183900, 92.8671700, 4)
coords['курск'] = (51.7373300, 36.1873500, 3)
coords['москва'] = (55.7522200, 37.6155600, 1)
coords['мытищи'] = (55.9116300, 37.7307600, 1)
coords['н.новгород'] = (56.3286700, 44.0020500, 4)
coords['новосибирск'] = (55.0415000, 82.9346000, 4)
coords['омск'] = (54.9924400, 73.3685900, 4)
coords['ростовнадону'] = (47.2313500, 39.7232800, 3)
coords['спб'] = (59.9386300, 30.3141300, 2)
coords['самара'] = (53.2000700, 50.1500000, 4)
coords['сергиев'] = (56.3000000, 38.1333300, 4)
coords['сургут'] = (61.2500000, 73.4166700, 4)
coords['томск'] = (56.4977100, 84.9743700, 4)
coords['тюмень'] = (57.1522200, 65.5272200, 4)
coords['уфа'] = (54.7430600, 55.9677900, 4)
coords['химки'] = (55.8970400, 37.4296900, 1)
coords['цифровой'] = (0, 0, 0)
coords['чехов'] = (55.1477000, 37.4772800, 4)
coords['ярославль'] = (57.6298700, 39.8736800, 2) 

shops['city_coord_1'] = shops['city'].apply(lambda x: coords[x][0])
shops['city_coord_2'] = shops['city'].apply(lambda x: coords[x][1])
shops['country_part'] = shops['city'].apply(lambda x: coords[x][2])

shops = shops[['shop_id', 'city_code', 'city_coord_1', 'city_coord_2', 'country_part']]

In [5]:
shops.head(5)

   shop_id  city_code  city_coord_1  city_coord_2  country_part
0        0         29     62.028098    129.732555             4
1        1         29     62.028098    129.732555             4
2        2          0     44.609764     40.100516             3
3        3          1     55.809450     37.958060             1
4        4          2     53.430580     50.119000             3

In [9]:
items = pd.merge(items, item_cats, on='item_category_id')
items['item_category_name'].unique()
items['item_category'] = items['item_category_name'].apply(lambda x: x.split('-')[0])
items['item_category_common'] = LabelEncoder().fit_transform(items['item_category'])
items['item_category_code'] = LabelEncoder().fit_transform(items['item_category_name'])
items = items[['item_id', 'item_category_common', 'item_category_code']]

# Create dataset

In [10]:
train = sales[sales.item_price < 100000]
train = train[sales.item_cnt_day < 1001]

train.loc[train.shop_id == 0, 'shop_id'] = 57
test.loc[test.shop_id == 0, 'shop_id'] = 57

train.loc[train.shop_id == 1, 'shop_id'] = 58
test.loc[test.shop_id == 1, 'shop_id'] = 58

train.loc[train.shop_id == 40, 'shop_id'] = 39
test.loc[test.shop_id == 40, 'shop_id'] = 39

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [11]:
index_cols = ['shop_id', 'item_id', 'date_block_num']

df = [] 
for block_num in train['date_block_num'].unique():
    cur_shops = train.loc[sales['date_block_num'] == block_num, 'shop_id'].unique()
    cur_items = train.loc[sales['date_block_num'] == block_num, 'item_id'].unique()
    df.append(np.array(list(product(*[cur_shops, cur_items, [block_num]])),dtype='int32'))

df = pd.DataFrame(np.vstack(df), columns = index_cols,dtype=np.int32)
df.head(5)

   shop_id  item_id  date_block_num
0       59    22154               0
1       59     2552               0
2       59     2554               0
3       59     2555               0
4       59     2564               0

In [12]:
#Add month sales
group = train.groupby(['date_block_num','shop_id','item_id']).agg({'item_cnt_day': ['sum']})
group.columns = ['item_cnt_month']
group.reset_index(inplace=True)

df = pd.merge(df, group, on=index_cols, how='left')
df['item_cnt_month'] = (df['item_cnt_month']
                                .fillna(0)
                                .clip(0,20)
                                .astype(np.float16))
df.head(5)

   shop_id  item_id  date_block_num  item_cnt_month
0       59    22154               0             1.0
1       59     2552               0             0.0
2       59     2554               0             0.0
3       59     2555               0             0.0
4       59     2564               0             0.0

In [13]:
test['date_block_num'] = 34
test['date_block_num'] = test['date_block_num'].astype(np.int8)
test['shop_id'] = test['shop_id'].astype(np.int8)
test['item_id'] = test['item_id'].astype(np.int16)
df = pd.concat([df, test], ignore_index=True, sort=False, keys=index_cols)
df.fillna(0, inplace=True)
df.head(5)

   shop_id  item_id  date_block_num  item_cnt_month   ID
0       59    22154               0             1.0  0.0
1       59     2552               0             0.0  0.0
2       59     2554               0             0.0  0.0
3       59     2555               0             0.0  0.0
4       59     2564               0             0.0  0.0

In [14]:
# Add items and shops features
df = pd.merge(df, items, on=['item_id'], how='left')
df = pd.merge(df, shops, on=['shop_id'], how='left')

In [15]:
#Calculate intersection features

df1 = df.copy()
first_shop_item_block = df1.groupby(['shop_id', 'item_id'])['date_block_num'].min().reset_index()
first_shop_item_block['shop_item_first_interaction'] = 1

first_item_block = df1.groupby(['item_id'])['date_block_num'].min().reset_index()
first_item_block['item_first_interaction'] = 1

first_shop_item_buy_block = df1[df1['date_block_num'] > 0].groupby(['shop_id', 'item_id'])['date_block_num'].min().reset_index()
first_shop_item_buy_block['first_date_block_num'] = first_shop_item_buy_block['date_block_num']

In [16]:
df = pd.merge(df, first_shop_item_block[['item_id', 'shop_id', 'date_block_num', 'shop_item_first_interaction']], on=['item_id', 'shop_id', 'date_block_num'], how='left')
df = pd.merge(df, first_item_block[['item_id', 'date_block_num', 'item_first_interaction']], on=['item_id', 'date_block_num'], how='left')
df = pd.merge(df, first_shop_item_buy_block[['item_id', 'shop_id', 'first_date_block_num']], on=['item_id', 'shop_id'], how='left')

df['first_date_block_num'].fillna(100, inplace=True)
df['shop_item_sold_before'] = (df['first_date_block_num'] < df['date_block_num']).astype('int8')
df.drop(['first_date_block_num'], axis=1, inplace=True)

df['item_first_interaction'].fillna(0, inplace=True)
df['shop_item_first_interaction'].fillna(0, inplace=True)
df['shop_item_sold_before'].fillna(0, inplace=True)

df['shop_item_first_interaction'] = df['shop_item_first_interaction'].astype('int8')  
df['item_first_interaction'] = df['item_first_interaction'].astype('int8')  
df['shop_item_sold_before'] = df['shop_item_sold_before'].astype('int8')

In [17]:
def lag_feature(df, lags, col):
    tmp = df[['date_block_num','shop_id','item_id',col]]
    for i in lags:
        shifted = tmp.copy()
        shifted.columns = ['date_block_num','shop_id','item_id', col+'_lag_'+str(i)]
        shifted['date_block_num'] += i
        df = pd.merge(df, shifted, on=['date_block_num','shop_id','item_id'], how='left')
        df[col+'_lag_'+str(i)] = df[col+'_lag_'+str(i)].astype('float32')
    return df

df = lag_feature(df, [1, 2, 3], 'item_cnt_month')
#df.fillna(0, inplace=True)

In [18]:
#avg shop/item price
index_cols = ['shop_id', 'item_id', 'date_block_num']
group = train.groupby(index_cols)['item_price'].mean().reset_index().rename(columns={"item_price": "avg_shop_price"}, errors="raise")
df = pd.merge(df, group, on=index_cols, how='left')

df['avg_shop_price'] = (df['avg_shop_price']
                                .fillna(0)
                                .astype(np.float16))

#avg item price
index_cols = ['item_id', 'date_block_num']
group = train.groupby(['date_block_num','item_id'])['item_price'].mean().reset_index().rename(columns={"item_price": "avg_item_price"}, errors="raise")


df = pd.merge(df, group, on=index_cols, how='left')
df['avg_item_price'] = (df['avg_item_price']
                                .fillna(0)
                                .astype(np.float16))
df['item_shop_price_avg'] = (df['avg_shop_price'] - df['avg_item_price']) / df['avg_item_price']
df = lag_feature(df, [1, 2, 3], 'item_shop_price_avg')
df.head(5)

   shop_id  item_id  ...  item_shop_price_avg_lag_2  item_shop_price_avg_lag_3
0       59    22154  ...                        NaN                        NaN
1       59     2552  ...                        NaN                        NaN
2       59     2554  ...                        NaN                        NaN
3       59     2555  ...                        NaN                        NaN
4       59     2564  ...                        NaN                        NaN

[5 rows x 23 columns]

In [19]:
group = train.groupby( ["item_id"] ).agg({"item_price": ["mean"]})
group.columns = ["item_avg_item_price"]
group.reset_index(inplace = True)

df = df.merge(group, on = ["item_id"], how = "left" )

group = train.groupby( ["date_block_num","item_id"] ).agg({"item_price": ["mean"]} )
group.columns = ["date_item_avg_item_price"]
group.reset_index(inplace = True)

df = df.merge(group, on = ["date_block_num","item_id"], how = "left")

df['delta_price'] = (df['date_item_avg_item_price'] - df['item_avg_item_price']) / df['item_avg_item_price']

In [20]:
df['delta_price'] = (df['delta_price']
                                .fillna(0))

#df = lag_feature(df, [1, 2, 3], 'delta_price')
df.head(5)

   shop_id  item_id  ...  date_item_avg_item_price  delta_price
0       59    22154  ...                    999.00     0.421190
1       59     2552  ...                    899.00    -0.041464
2       59     2554  ...                   1709.05     0.000000
3       59     2555  ...                   1098.85    -0.021594
4       59     2564  ...                    327.60    -0.036902

[5 rows x 26 columns]

In [21]:
#add date features

import calendar
from datetime import datetime

def count_days(date_block_num):
    year = 2013 + date_block_num // 12
    month = 1 + date_block_num % 12
    weeknd_count = len([1 for i in calendar.monthcalendar(year, month) if i[6] != 0])
    days_in_month = calendar.monthrange(year, month)[1]
    return weeknd_count, days_in_month, month

map_dict = {i: count_days(i) for i in range(35)}

df['weeknd_count'] = df['date_block_num'].apply(lambda x: map_dict[x][0])
df['days_in_month'] = df['date_block_num'].apply(lambda x: map_dict[x][1])
df['month'] = df['date_block_num'].apply(lambda x: map_dict[x][2])

In [19]:
#df = pd.merge(df, sales, on=['date_block_num','shop_id','item_id'], how='left')
#sales['date'] = pd.to_datetime(sales['date'])
#sales['month'] = sales['date'].dt.month

#columns=['month']
#for col in columns:
#    sales[col+'_sin']=np.sin((2*np.pi*sales[col])/max(sales[col]))
#    sales[col+'_cos']=np.cos((2*np.pi*sales[col])/max(sales[col]))

#sales['mean_month_price'] = sales['group_by']
#price_mean_shop = sales.groupby(['date_block_num','shop_id','item_id'])['item_price'].mean().reset_index().rename(columns={"item_price": "price_mean_shop"}, errors="raise")
#price_mean_item = sales.groupby(['date_block_num','item_id'])['item_price'].mean().reset_index().rename(columns={"item_price": "price_mean_item"}, errors="raise")
#sales = pd.merge(sales, price_mean_shop, on=['date_block_num','shop_id','item_id'], how='left')
#sales = pd.merge(sales, price_mean_item, on=['date_block_num','item_id'], how='left')
#sales['month_mean_price'] = 
#price_mean
#sales['mean_month_price'] = sales['mean_month_price']
#grid['item_target_enc'] = grid['item_id'].map(item_id_target_mean)
#grid['item_target_enc'].fillna(0, inplace=True)

In [22]:
item_id_target_mean = df.groupby(['date_block_num','item_id'])['item_cnt_month'].mean().reset_index().rename(columns={"item_cnt_month": "item_target_enc"}, errors="raise")
df = pd.merge(df, item_id_target_mean, on=['date_block_num','item_id'], how='left')

df['item_target_enc'] = (df['item_target_enc']
                                .fillna(0)
                                .astype(np.float16))

df = lag_feature(df, [1, 2, 3], 'item_target_enc')
df.head(5)

   shop_id  item_id  ...  item_target_enc_lag_2  item_target_enc_lag_3
0       59    22154  ...                    NaN                    NaN
1       59     2552  ...                    NaN                    NaN
2       59     2554  ...                    NaN                    NaN
3       59     2555  ...                    NaN                    NaN
4       59     2564  ...                    NaN                    NaN

[5 rows x 33 columns]

In [23]:
item_id_target_mean = df.groupby(['date_block_num','item_id', 'city_code'])['item_cnt_month'].mean().reset_index().rename(columns={
    "item_cnt_month": "item_loc_target_enc"}, errors="raise")
df = pd.merge(df, item_id_target_mean, on=['date_block_num','item_id', 'city_code'], how='left')

df['item_loc_target_enc'] = (df['item_loc_target_enc']
                                .fillna(0)
                                .astype(np.float16))

df = lag_feature(df, [1, 2, 3], 'item_loc_target_enc')
df.head(5)

   shop_id  item_id  ...  item_loc_target_enc_lag_2  item_loc_target_enc_lag_3
0       59    22154  ...                        NaN                        NaN
1       59     2552  ...                        NaN                        NaN
2       59     2554  ...                        NaN                        NaN
3       59     2555  ...                        NaN                        NaN
4       59     2564  ...                        NaN                        NaN

[5 rows x 37 columns]

In [24]:
item_id_target_mean = df.groupby(['date_block_num','item_id', 'shop_id'])['item_cnt_month'].mean().reset_index().rename(columns={
    "item_cnt_month": "item_shop_target_enc"}, errors="raise")

df = pd.merge(df, item_id_target_mean, on=['date_block_num','item_id', 'shop_id'], how='left')

df['item_shop_target_enc'] = (df['item_shop_target_enc']
                                .fillna(0)
                                .astype(np.float16))

df = lag_feature(df, [1, 2, 3], 'item_shop_target_enc')
df.head(5)

   shop_id  item_id  ...  item_shop_target_enc_lag_2  item_shop_target_enc_lag_3
0       59    22154  ...                         NaN                         NaN
1       59     2552  ...                         NaN                         NaN
2       59     2554  ...                         NaN                         NaN
3       59     2555  ...                         NaN                         NaN
4       59     2564  ...                         NaN                         NaN

[5 rows x 41 columns]

In [25]:
#df.fillna(0, inplace=True)
df['delta_count_month_1'] = (df['item_cnt_month_lag_1'] - (df['item_cnt_month_lag_2'])) / (df['item_cnt_month_lag_2'])
df['delta_count_month_2'] = (df['item_cnt_month_lag_2'] - (df['item_cnt_month_lag_3'])) / (df['item_cnt_month_lag_3'])

In [26]:
df[df['delta_count_month_1'] == np.inf]['delta_count_month_1'] = -1
df[df['delta_count_month_2'] == np.inf]['delta_count_month_2'] = -1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
df.fillna(0, inplace=True)
df = df[(df['date_block_num'] > 2)]
df.head()

         shop_id  item_id  ...  delta_count_month_1  delta_count_month_2
1122795       25     8092  ...                  inf            -1.000000
1122796       25     7850  ...                  4.0            -0.833333
1122797       25     8051  ...                  0.0             0.000000
1122798       25     8088  ...                  0.0                  inf
1122799       25     8089  ...                 -1.0                  inf

[5 rows x 43 columns]

Feature engineering

In [28]:
df.columns

Index(['shop_id', 'item_id', 'date_block_num', 'item_cnt_month', 'ID',
       'item_category_common', 'item_category_code', 'city_code',
       'city_coord_1', 'city_coord_2', 'country_part',
       'shop_item_first_interaction', 'item_first_interaction',
       'shop_item_sold_before', 'item_cnt_month_lag_1', 'item_cnt_month_lag_2',
       'item_cnt_month_lag_3', 'avg_shop_price', 'avg_item_price',
       'item_shop_price_avg', 'item_shop_price_avg_lag_1',
       'item_shop_price_avg_lag_2', 'item_shop_price_avg_lag_3',
       'item_avg_item_price', 'date_item_avg_item_price', 'delta_price',
       'weeknd_count', 'days_in_month', 'month', 'item_target_enc',
       'item_target_enc_lag_1', 'item_target_enc_lag_2',
       'item_target_enc_lag_3', 'item_loc_target_enc',
       'item_loc_target_enc_lag_1', 'item_loc_target_enc_lag_2',
       'item_loc_target_enc_lag_3', 'item_shop_target_enc',
       'item_shop_target_enc_lag_1', 'item_shop_target_enc_lag_2',
       'item_shop_target_enc_lag_3', 'delta_count_month_1',
       'delta_count_month_2'],
      dtype='object')

In [29]:
df.drop(['ID', 
         'avg_shop_price', 
         'avg_item_price', 
         'item_shop_price_avg', 
         'item_avg_item_price', 
         'delta_price_lag', 
         'item_target_enc',
         'item_loc_target_enc',
         'item_shop_target_enc',
         'date_item_avg_item_price',
         'delta_price'
         ], axis=1, inplace=True, errors='ignore')

In [30]:
df['shop_item_sold_before'] = df.apply(lambda x: -1 if x['item_first_interaction'] == 1 else x['shop_item_sold_before'], axis=1)

In [31]:
df.columns

Index(['shop_id', 'item_id', 'date_block_num', 'item_cnt_month',
       'item_category_common', 'item_category_code', 'city_code',
       'city_coord_1', 'city_coord_2', 'country_part',
       'shop_item_first_interaction', 'item_first_interaction',
       'shop_item_sold_before', 'item_cnt_month_lag_1', 'item_cnt_month_lag_2',
       'item_cnt_month_lag_3', 'item_shop_price_avg_lag_1',
       'item_shop_price_avg_lag_2', 'item_shop_price_avg_lag_3',
       'weeknd_count', 'days_in_month', 'month', 'item_target_enc_lag_1',
       'item_target_enc_lag_2', 'item_target_enc_lag_3',
       'item_loc_target_enc_lag_1', 'item_loc_target_enc_lag_2',
       'item_loc_target_enc_lag_3', 'item_shop_target_enc_lag_1',
       'item_shop_target_enc_lag_2', 'item_shop_target_enc_lag_3',
       'delta_count_month_1', 'delta_count_month_2'],
      dtype='object')

In [31]:
X_train = df[df.date_block_num < 33].drop(['item_cnt_month'], axis=1)
Y_train = df[df.date_block_num < 33]['item_cnt_month']
X_valid = df[df.date_block_num == 33].drop(['item_cnt_month'], axis=1)
Y_valid = df[df.date_block_num == 33]['item_cnt_month']
X_test = df[df.date_block_num == 34].drop(['item_cnt_month'], axis=1)

In [33]:
feature_name = X_train.columns.tolist()
feature_name.remove('month')
feature_name.remove('shop_item_first_interaction')
#feature_name.remove('shop_item_sold_before')
print(feature_name)

params = {
    'objective': 'regression',
    'metric': 'rmse',
    'num_leaves': 2 ** 7 - 1,
    'learning_rate': 0.005,
    'feature_fraction': 0.75,
    'bagging_fraction': 0.75,
    'bagging_freq': 5,
    'seed': 1,
    'verbose': 1
}

feature_name_indexes = [ 
                        'country_part', 
                        'item_category_common',
                        'item_category_code', 
                        'city_code',
                        #'month'
]

lgb_train = lgb.Dataset(X_train[feature_name], Y_train)
lgb_eval = lgb.Dataset(X_valid[feature_name], Y_valid, reference=lgb_train)

evals_result = {}
gbm = lgb.train(
        params, 
        lgb_train,
        num_boost_round=1000,
        valid_sets=(lgb_train, lgb_eval), 
        feature_name = feature_name,
        categorical_feature = feature_name_indexes,
        verbose_eval=5, 
        evals_result = evals_result,
        early_stopping_rounds = 25,
        callbacks=[neptune_monitor()])

['shop_id', 'item_id', 'date_block_num', 'item_category_common', 'item_category_code', 'city_code', 'city_coord_1', 'city_coord_2', 'country_part', 'item_first_interaction', 'shop_item_sold_before', 'item_cnt_month_lag_1', 'item_cnt_month_lag_2', 'item_cnt_month_lag_3', 'item_shop_price_avg_lag_1', 'item_shop_price_avg_lag_2', 'item_shop_price_avg_lag_3', 'weeknd_count', 'days_in_month', 'item_target_enc_lag_1', 'item_target_enc_lag_2', 'item_target_enc_lag_3', 'item_loc_target_enc_lag_1', 'item_loc_target_enc_lag_2', 'item_loc_target_enc_lag_3', 'item_shop_target_enc_lag_1', 'item_shop_target_enc_lag_2', 'item_shop_target_enc_lag_3', 'delta_count_month_1', 'delta_count_month_2']

/usr/local/lib/python3.6/dist-packages/lightgbm/basic.py:1209: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['city_code', 'country_part', 'item_category_code', 'item_category_common']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))
/usr/local/lib/python3.6/dist-packages/lightgbm/basic.py:762: UserWarning: categorical_feature in param dict is overridden.
  warnings.warn('categorical_feature in param dict is overridden.')

Training until validation scores don't improve for 25 rounds.
[5]	training's rmse: 1.20402	valid_1's rmse: 1.12746
[10]	training's rmse: 1.19156	valid_1's rmse: 1.11797
[15]	training's rmse: 1.17959	valid_1's rmse: 1.10893
[20]	training's rmse: 1.16786	valid_1's rmse: 1.09995
[25]	training's rmse: 1.15631	valid_1's rmse: 1.09143
[30]	training's rmse: 1.1454	valid_1's rmse: 1.08319
[35]	training's rmse: 1.13499	valid_1's rmse: 1.07542
[40]	training's rmse: 1.12523	valid_1's rmse: 1.06833
[45]	training's rmse: 1.11552	valid_1's rmse: 1.06123
[50]	training's rmse: 1.10624	valid_1's rmse: 1.05439
[55]	training's rmse: 1.09741	valid_1's rmse: 1.04807
[60]	training's rmse: 1.08852	valid_1's rmse: 1.04135
[65]	training's rmse: 1.08025	valid_1's rmse: 1.03521
[70]	training's rmse: 1.07209	valid_1's rmse: 1.02942
[75]	training's rmse: 1.06431	valid_1's rmse: 1.02345
[80]	training's rmse: 1.05682	valid_1's rmse: 1.01791
[85]	training's rmse: 1.0499	valid_1's rmse: 1.01301
[90]	training's rmse: 1.04295	valid_1's rmse: 1.00804
[95]	training's rmse: 1.03654	valid_1's rmse: 1.00349
[100]	training's rmse: 1.03012	valid_1's rmse: 0.998795
[105]	training's rmse: 1.02397	valid_1's rmse: 0.994445
[110]	training's rmse: 1.01815	valid_1's rmse: 0.990283
[115]	training's rmse: 1.01269	valid_1's rmse: 0.986431
[120]	training's rmse: 1.00716	valid_1's rmse: 0.982725
[125]	training's rmse: 1.00192	valid_1's rmse: 0.979116
[130]	training's rmse: 0.996728	valid_1's rmse: 0.975597
[135]	training's rmse: 0.991791	valid_1's rmse: 0.972279
[140]	training's rmse: 0.987043	valid_1's rmse: 0.969262
[145]	training's rmse: 0.982484	valid_1's rmse: 0.966176
[150]	training's rmse: 0.978306	valid_1's rmse: 0.963508
[155]	training's rmse: 0.974206	valid_1's rmse: 0.960747
[160]	training's rmse: 0.970001	valid_1's rmse: 0.958099
[165]	training's rmse: 0.966168	valid_1's rmse: 0.955661
[170]	training's rmse: 0.962427	valid_1's rmse: 0.953156
[175]	training's rmse: 0.958793	valid_1's rmse: 0.950845
[180]	training's rmse: 0.955217	valid_1's rmse: 0.948855
[185]	training's rmse: 0.951738	valid_1's rmse: 0.946768
[190]	training's rmse: 0.94858	valid_1's rmse: 0.94483
[195]	training's rmse: 0.94565	valid_1's rmse: 0.943016
[200]	training's rmse: 0.942602	valid_1's rmse: 0.941048
[205]	training's rmse: 0.939718	valid_1's rmse: 0.939356
[210]	training's rmse: 0.936859	valid_1's rmse: 0.937726
[215]	training's rmse: 0.934328	valid_1's rmse: 0.936165
[220]	training's rmse: 0.931708	valid_1's rmse: 0.934568
[225]	training's rmse: 0.929162	valid_1's rmse: 0.932934
[230]	training's rmse: 0.926671	valid_1's rmse: 0.931501
[235]	training's rmse: 0.924328	valid_1's rmse: 0.930199
[240]	training's rmse: 0.921974	valid_1's rmse: 0.92909
[245]	training's rmse: 0.919786	valid_1's rmse: 0.927996
[250]	training's rmse: 0.917556	valid_1's rmse: 0.926945
[255]	training's rmse: 0.915566	valid_1's rmse: 0.925793
[260]	training's rmse: 0.913298	valid_1's rmse: 0.925292
[265]	training's rmse: 0.91146	valid_1's rmse: 0.924389
[270]	training's rmse: 0.909631	valid_1's rmse: 0.923714
[275]	training's rmse: 0.90763	valid_1's rmse: 0.92252
[280]	training's rmse: 0.905978	valid_1's rmse: 0.921564
[285]	training's rmse: 0.904412	valid_1's rmse: 0.92072
[290]	training's rmse: 0.902696	valid_1's rmse: 0.919866
[295]	training's rmse: 0.901068	valid_1's rmse: 0.91905
[300]	training's rmse: 0.899398	valid_1's rmse: 0.918313
[305]	training's rmse: 0.897837	valid_1's rmse: 0.91751
[310]	training's rmse: 0.896333	valid_1's rmse: 0.916927
[315]	training's rmse: 0.894891	valid_1's rmse: 0.916273
[320]	training's rmse: 0.893488	valid_1's rmse: 0.915633
[325]	training's rmse: 0.892155	valid_1's rmse: 0.914979
[330]	training's rmse: 0.890885	valid_1's rmse: 0.914365
[335]	training's rmse: 0.889708	valid_1's rmse: 0.913874
[340]	training's rmse: 0.888521	valid_1's rmse: 0.913413
[345]	training's rmse: 0.887462	valid_1's rmse: 0.912895
[350]	training's rmse: 0.886294	valid_1's rmse: 0.91239
[355]	training's rmse: 0.885131	valid_1's rmse: 0.911795
[360]	training's rmse: 0.884007	valid_1's rmse: 0.911315
[365]	training's rmse: 0.882839	valid_1's rmse: 0.910918
[370]	training's rmse: 0.881706	valid_1's rmse: 0.910397
[375]	training's rmse: 0.880651	valid_1's rmse: 0.909982
[380]	training's rmse: 0.879635	valid_1's rmse: 0.909555
[385]	training's rmse: 0.878718	valid_1's rmse: 0.909167
[390]	training's rmse: 0.877707	valid_1's rmse: 0.908841
[395]	training's rmse: 0.876745	valid_1's rmse: 0.908507
[400]	training's rmse: 0.875824	valid_1's rmse: 0.908068
[405]	training's rmse: 0.874914	valid_1's rmse: 0.907571
[410]	training's rmse: 0.874096	valid_1's rmse: 0.907282
[415]	training's rmse: 0.873267	valid_1's rmse: 0.907024
[420]	training's rmse: 0.87242	valid_1's rmse: 0.906844
[425]	training's rmse: 0.87145	valid_1's rmse: 0.906432
[430]	training's rmse: 0.870515	valid_1's rmse: 0.906111
[435]	training's rmse: 0.869685	valid_1's rmse: 0.905992
[440]	training's rmse: 0.868795	valid_1's rmse: 0.905272
[445]	training's rmse: 0.867971	valid_1's rmse: 0.905156
[450]	training's rmse: 0.867285	valid_1's rmse: 0.904791
[455]	training's rmse: 0.866442	valid_1's rmse: 0.904512
[460]	training's rmse: 0.865544	valid_1's rmse: 0.9047
[465]	training's rmse: 0.864712	valid_1's rmse: 0.904701
[470]	training's rmse: 0.863902	valid_1's rmse: 0.904646
[475]	training's rmse: 0.863078	valid_1's rmse: 0.904288
[480]	training's rmse: 0.862342	valid_1's rmse: 0.903933
[485]	training's rmse: 0.861743	valid_1's rmse: 0.903775
[490]	training's rmse: 0.861074	valid_1's rmse: 0.903807
[495]	training's rmse: 0.860358	valid_1's rmse: 0.903715
[500]	training's rmse: 0.859619	valid_1's rmse: 0.903464
[505]	training's rmse: 0.859012	valid_1's rmse: 0.903292
[510]	training's rmse: 0.858377	valid_1's rmse: 0.903128
[515]	training's rmse: 0.857802	valid_1's rmse: 0.902686
[520]	training's rmse: 0.857139	valid_1's rmse: 0.902857
[525]	training's rmse: 0.856543	valid_1's rmse: 0.902695
[530]	training's rmse: 0.855923	valid_1's rmse: 0.90278
[535]	training's rmse: 0.855351	valid_1's rmse: 0.902438
[540]	training's rmse: 0.854851	valid_1's rmse: 0.902265
[545]	training's rmse: 0.854313	valid_1's rmse: 0.902119
[550]	training's rmse: 0.853708	valid_1's rmse: 0.902222
[555]	training's rmse: 0.85313	valid_1's rmse: 0.902259
[560]	training's rmse: 0.852488	valid_1's rmse: 0.902202
[565]	training's rmse: 0.851878	valid_1's rmse: 0.901892
[570]	training's rmse: 0.851389	valid_1's rmse: 0.901797
[575]	training's rmse: 0.850836	valid_1's rmse: 0.901852
[580]	training's rmse: 0.850264	valid_1's rmse: 0.901751
[585]	training's rmse: 0.849723	valid_1's rmse: 0.901522
[590]	training's rmse: 0.849242	valid_1's rmse: 0.901402
[595]	training's rmse: 0.848791	valid_1's rmse: 0.901295
[600]	training's rmse: 0.84832	valid_1's rmse: 0.901201
[605]	training's rmse: 0.847815	valid_1's rmse: 0.901129
[610]	training's rmse: 0.847323	valid_1's rmse: 0.901045
[615]	training's rmse: 0.84677	valid_1's rmse: 0.901068
[620]	training's rmse: 0.846238	valid_1's rmse: 0.900991
[625]	training's rmse: 0.845681	valid_1's rmse: 0.900947
[630]	training's rmse: 0.845182	valid_1's rmse: 0.900969
[635]	training's rmse: 0.844698	valid_1's rmse: 0.900979
[640]	training's rmse: 0.844231	valid_1's rmse: 0.900849
[645]	training's rmse: 0.84379	valid_1's rmse: 0.90073
[650]	training's rmse: 0.843354	valid_1's rmse: 0.900559
[655]	training's rmse: 0.842921	valid_1's rmse: 0.900481
[660]	training's rmse: 0.842417	valid_1's rmse: 0.900462
[665]	training's rmse: 0.841987	valid_1's rmse: 0.90045
[670]	training's rmse: 0.841507	valid_1's rmse: 0.90047
[675]	training's rmse: 0.841106	valid_1's rmse: 0.900261
[680]	training's rmse: 0.84065	valid_1's rmse: 0.900145
[685]	training's rmse: 0.840275	valid_1's rmse: 0.900044
[690]	training's rmse: 0.839812	valid_1's rmse: 0.900004
[695]	training's rmse: 0.83937	valid_1's rmse: 0.899973
[700]	training's rmse: 0.838971	valid_1's rmse: 0.8999
[705]	training's rmse: 0.838602	valid_1's rmse: 0.899827
[710]	training's rmse: 0.838188	valid_1's rmse: 0.899803
[715]	training's rmse: 0.837803	valid_1's rmse: 0.899734
[720]	training's rmse: 0.83745	valid_1's rmse: 0.899626
[725]	training's rmse: 0.83704	valid_1's rmse: 0.899688
[730]	training's rmse: 0.836653	valid_1's rmse: 0.899542
[735]	training's rmse: 0.8363	valid_1's rmse: 0.899426
[740]	training's rmse: 0.835875	valid_1's rmse: 0.899343
[745]	training's rmse: 0.835458	valid_1's rmse: 0.899316
[750]	training's rmse: 0.835109	valid_1's rmse: 0.899267
[755]	training's rmse: 0.834783	valid_1's rmse: 0.899095
[760]	training's rmse: 0.834408	valid_1's rmse: 0.898991
[765]	training's rmse: 0.834102	valid_1's rmse: 0.898886
[770]	training's rmse: 0.833784	valid_1's rmse: 0.898717
[775]	training's rmse: 0.833432	valid_1's rmse: 0.898654
[780]	training's rmse: 0.833074	valid_1's rmse: 0.898651
[785]	training's rmse: 0.832748	valid_1's rmse: 0.898646
[790]	training's rmse: 0.832437	valid_1's rmse: 0.898633
[795]	training's rmse: 0.832079	valid_1's rmse: 0.898638
[800]	training's rmse: 0.831773	valid_1's rmse: 0.898548
[805]	training's rmse: 0.831457	valid_1's rmse: 0.898715
[810]	training's rmse: 0.831147	valid_1's rmse: 0.898634
[815]	training's rmse: 0.830821	valid_1's rmse: 0.898662
[820]	training's rmse: 0.830508	valid_1's rmse: 0.898628
[825]	training's rmse: 0.830098	valid_1's rmse: 0.898645
Early stopping, best iteration is:
[800]	training's rmse: 0.831773	valid_1's rmse: 0.898548

In [54]:
#import joblib
#joblib.dump(gbm, 'lgb_model.pkl')
#neptune.log_artifact('lgb_model.pkl')
neptune.log_metric('valid_best_score', gbm.best_score['valid_1']['rmse'])
neptune.log_text('feature_names', ", ".join(gbm.feature_name()))

In [50]:
pip install neptune-notebooks

Collecting neptune-notebooks
  Downloading https://files.pythonhosted.org/packages/8b/07/a7c8922ea4806735a43b84a8a52b11e5e7b1ab9d9abffe94e740f19f4718/neptune-notebooks-0.0.16.tar.gz (1.0MB)
     |████████████████████████████████| 1.0MB 3.3MB/s
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.6/dist-packages (from neptune-notebooks) (7.1.2)
Requirement already satisfied: future>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from neptune-notebooks) (0.18.2)
Requirement already satisfied: neptune-client>=0.4.92 in /usr/local/lib/python3.6/dist-packages (from neptune-notebooks) (0.4.119)
Requirement already satisfied: notebook>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from neptune-notebooks) (5.3.1)
Collecting path.py
  Downloading https://files.pythonhosted.org/packages/8f/04/130b7a538c25693c85c4dee7e25d126ebf5511b1eb7320e64906687b159e/path.py-12.5.0-py3-none-any.whl
Requirement already satisfied: oauthlib>=2.1.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client>=0.4.92->neptune-notebooks) (3.1.0)
Requirement already satisfied: websocket-client>=0.35.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client>=0.4.92->neptune-notebooks) (0.57.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from neptune-client>=0.4.92->neptune-notebooks) (20.4)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client>=0.4.92->neptune-notebooks) (1.15.0)
Requirement already satisfied: Pillow>=1.1.6 in /usr/local/lib/python3.6/dist-packages (from neptune-client>=0.4.92->neptune-notebooks) (7.0.0)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client>=0.4.92->neptune-notebooks) (2.23.0)
Requirement already satisfied: requests-oauthlib>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client>=0.4.92->neptune-notebooks) (1.3.0)
Requirement already satisfied: GitPython>=2.0.8 in /usr/local/lib/python3.6/dist-packages (from neptune-client>=0.4.92->neptune-notebooks) (3.1.7)
Requirement already satisfied: py3nvml in /usr/local/lib/python3.6/dist-packages (from neptune-client>=0.4.92->neptune-notebooks) (0.2.6)
Requirement already satisfied: bravado in /usr/local/lib/python3.6/dist-packages (from neptune-client>=0.4.92->neptune-notebooks) (10.6.2)
Requirement already satisfied: PyJWT in /usr/local/lib/python3.6/dist-packages (from neptune-client>=0.4.92->neptune-notebooks) (1.7.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from neptune-client>=0.4.92->neptune-notebooks) (1.0.5)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.0->neptune-notebooks) (1.5.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.0->neptune-notebooks) (2.11.2)
Requirement already satisfied: jupyter-client>=5.2.0 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.0->neptune-notebooks) (5.3.5)
Requirement already satisfied: nbformat in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.0->neptune-notebooks) (5.0.7)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.0->neptune-notebooks) (5.6.1)
Requirement already satisfied: traitlets>=4.2.1 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.0->neptune-notebooks) (4.3.3)
Requirement already satisfied: tornado>=4 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.0->neptune-notebooks) (5.1.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.0->neptune-notebooks) (0.8.3)
Requirement already satisfied: jupyter-core>=4.4.0 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.0->neptune-notebooks) (4.6.3)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.0->neptune-notebooks) (0.2.0)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.0->neptune-notebooks) (4.10.1)
Collecting path
  Downloading https://files.pythonhosted.org/packages/cb/81/b9090d24e60369fd9413b92fcd87e13a37bf43dad3427d35e09915f788ac/path-15.0.0-py3-none-any.whl
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->neptune-client>=0.4.92->neptune-notebooks) (2.4.7)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client>=0.4.92->neptune-notebooks) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client>=0.4.92->neptune-notebooks) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client>=0.4.92->neptune-notebooks) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client>=0.4.92->neptune-notebooks) (3.0.4)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.6/dist-packages (from GitPython>=2.0.8->neptune-client>=0.4.92->neptune-notebooks) (4.0.5)
Requirement already satisfied: xmltodict in /usr/local/lib/python3.6/dist-packages (from py3nvml->neptune-client>=0.4.92->neptune-notebooks) (0.12.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client>=0.4.92->neptune-notebooks) (3.13)
Requirement already satisfied: msgpack-python in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client>=0.4.92->neptune-notebooks) (0.5.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client>=0.4.92->neptune-notebooks) (3.7.4.2)
Requirement already satisfied: bravado-core>=5.16.1 in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client>=0.4.92->neptune-notebooks) (5.17.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client>=0.4.92->neptune-notebooks) (2.8.1)
Requirement already satisfied: monotonic in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client>=0.4.92->neptune-notebooks) (1.5)
Requirement already satisfied: simplejson in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client>=0.4.92->neptune-notebooks) (3.17.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->neptune-client>=0.4.92->neptune-notebooks) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->neptune-client>=0.4.92->neptune-notebooks) (1.18.5)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->notebook>=4.3.0->neptune-notebooks) (1.1.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.0->notebook>=4.3.0->neptune-notebooks) (19.0.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat->notebook>=4.3.0->neptune-notebooks) (2.6.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.3.0->neptune-notebooks) (2.1.3)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.3.0->neptune-notebooks) (0.4.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.3.0->neptune-notebooks) (3.1.5)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.3.0->neptune-notebooks) (0.6.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.3.0->neptune-notebooks) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.3.0->neptune-notebooks) (1.4.2)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.3.0->neptune-notebooks) (0.3)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2.1->notebook>=4.3.0->neptune-notebooks) (4.4.2)
Requirement already satisfied: ptyprocess; os_name != "nt" in /usr/local/lib/python3.6/dist-packages (from terminado>=0.8.1->notebook>=4.3.0->neptune-notebooks) (0.6.0)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel->notebook>=4.3.0->neptune-notebooks) (5.5.0)
Requirement already satisfied: smmap<4,>=3.0.1 in /usr/local/lib/python3.6/dist-packages (from gitdb<5,>=4.0.1->GitPython>=2.0.8->neptune-client>=0.4.92->neptune-notebooks) (3.0.4)
Requirement already satisfied: swagger-spec-validator>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client>=0.4.92->neptune-notebooks) (2.7.3)
Requirement already satisfied: msgpack>=0.5.2 in /usr/local/lib/python3.6/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client>=0.4.92->neptune-notebooks) (1.0.0)
Requirement already satisfied: jsonref in /usr/local/lib/python3.6/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client>=0.4.92->neptune-notebooks) (0.2)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook>=4.3.0->neptune-notebooks) (0.5.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->notebook>=4.3.0->neptune-notebooks) (49.2.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->notebook>=4.3.0->neptune-notebooks) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->notebook>=4.3.0->neptune-notebooks) (0.7.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->notebook>=4.3.0->neptune-notebooks) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->notebook>=4.3.0->neptune-notebooks) (1.0.18)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0->ipykernel->notebook>=4.3.0->neptune-notebooks) (0.2.5)
Building wheels for collected packages: neptune-notebooks
  Building wheel for neptune-notebooks (setup.py) ... done
  Created wheel for neptune-notebooks: filename=neptune_notebooks-0.0.16-py2.py3-none-any.whl size=1015046 sha256=ab56b74d7ac1f641c689578a80b908901cb90672f696d803c1f8dabc0738e6cb
  Stored in directory: /root/.cache/pip/wheels/b4/3f/5f/7c1ebabf6e91e3eb1aacf265e69420d0a0e2ce879b6af6b8fa
Successfully built neptune-notebooks
Installing collected packages: path, path.py, neptune-notebooks
Successfully installed neptune-notebooks-0.0.16 path-15.0.0 path.py-12.5.0

In [58]:
!jupyter contrib nbextension install --user

Traceback (most recent call last):
  File "/usr/local/bin/jupyter", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/jupyter_core/command.py", line 230, in main
    command = _jupyter_abspath(subcommand)
  File "/usr/local/lib/python2.7/dist-packages/jupyter_core/command.py", line 133, in _jupyter_abspath
    'Jupyter command `{}` not found.'.format(jupyter_subcommand)
Exception: Jupyter command `jupyter-contrib` not found.

In [59]:
!jupyter nbextension enable neptune-notebooks

Enabling notebook extension neptune-notebooks...
      - Validating: problems found:
        - require?  X neptune-notebooks

In [53]:
!pip install neptune-client

Requirement already satisfied: neptune-client in /usr/local/lib/python3.6/dist-packages (0.4.119)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (1.15.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (7.1.2)
Requirement already satisfied: PyJWT in /usr/local/lib/python3.6/dist-packages (from neptune-client) (1.7.1)
Requirement already satisfied: oauthlib>=2.1.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (3.1.0)
Requirement already satisfied: future>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (0.18.2)
Requirement already satisfied: requests-oauthlib>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (1.3.0)
Requirement already satisfied: bravado in /usr/local/lib/python3.6/dist-packages (from neptune-client) (10.6.2)
Requirement already satisfied: py3nvml in /usr/local/lib/python3.6/dist-packages (from neptune-client) (0.2.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from neptune-client) (1.0.5)
Requirement already satisfied: websocket-client>=0.35.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (0.57.0)
Requirement already satisfied: GitPython>=2.0.8 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (3.1.7)
Requirement already satisfied: Pillow>=1.1.6 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (7.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from neptune-client) (20.4)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from neptune-client) (2.23.0)
Requirement already satisfied: bravado-core>=5.16.1 in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (5.17.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (3.7.4.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (2.8.1)
Requirement already satisfied: msgpack-python in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (0.5.6)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (3.13)
Requirement already satisfied: monotonic in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (1.5)
Requirement already satisfied: simplejson in /usr/local/lib/python3.6/dist-packages (from bravado->neptune-client) (3.17.2)
Requirement already satisfied: xmltodict in /usr/local/lib/python3.6/dist-packages (from py3nvml->neptune-client) (0.12.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->neptune-client) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->neptune-client) (1.18.5)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.6/dist-packages (from GitPython>=2.0.8->neptune-client) (4.0.5)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->neptune-client) (2.4.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->neptune-client) (2020.6.20)
Requirement already satisfied: jsonschema[format]>=2.5.1 in /usr/local/lib/python3.6/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client) (2.6.0)
Requirement already satisfied: msgpack>=0.5.2 in /usr/local/lib/python3.6/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client) (1.0.0)
Requirement already satisfied: jsonref in /usr/local/lib/python3.6/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client) (0.2)
Requirement already satisfied: swagger-spec-validator>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client) (2.7.3)
Requirement already satisfied: smmap<4,>=3.0.1 in /usr/local/lib/python3.6/dist-packages (from gitdb<5,>=4.0.1->GitPython>=2.0.8->neptune-client) (3.0.4)
Requirement already satisfied: webcolors; extra == "format" in /usr/local/lib/python3.6/dist-packages (from jsonschema[format]>=2.5.1->bravado-core>=5.16.1->bravado->neptune-client) (1.11.1)
Requirement already satisfied: rfc3987; extra == "format" in /usr/local/lib/python3.6/dist-packages (from jsonschema[format]>=2.5.1->bravado-core>=5.16.1->bravado->neptune-client) (1.3.8)
Requirement already satisfied: strict-rfc3339; extra == "format" in /usr/local/lib/python3.6/dist-packages (from jsonschema[format]>=2.5.1->bravado-core>=5.16.1->bravado->neptune-client) (0.7)

In [49]:
gbm.feature_name()

['shop_id',
 'item_id',
 'date_block_num',
 'item_category_common',
 'item_category_code',
 'city_code',
 'city_coord_1',
 'city_coord_2',
 'country_part',
 'item_first_interaction',
 'shop_item_sold_before',
 'item_cnt_month_lag_1',
 'item_cnt_month_lag_2',
 'item_cnt_month_lag_3',
 'item_shop_price_avg_lag_1',
 'item_shop_price_avg_lag_2',
 'item_shop_price_avg_lag_3',
 'weeknd_count',
 'days_in_month',
 'item_target_enc_lag_1',
 'item_target_enc_lag_2',
 'item_target_enc_lag_3',
 'item_loc_target_enc_lag_1',
 'item_loc_target_enc_lag_2',
 'item_loc_target_enc_lag_3',
 'item_shop_target_enc_lag_1',
 'item_shop_target_enc_lag_2',
 'item_shop_target_enc_lag_3',
 'delta_count_month_1',
 'delta_count_month_2']

In [47]:
dir(gbm)

['_Booster__attr',
 '_Booster__boost',
 '_Booster__get_eval_info',
 '_Booster__higher_better_inner_eval',
 '_Booster__init_predictor',
 '_Booster__inner_eval',
 '_Booster__inner_predict',
 '_Booster__inner_predict_buffer',
 '_Booster__is_predicted_cur_iter',
 '_Booster__name_inner_eval',
 '_Booster__need_reload_eval_info',
 '_Booster__num_class',
 '_Booster__num_dataset',
 '_Booster__num_inner_eval',
 '_Booster__set_objective_to_none',
 '_Booster__train_data_name',
 '__class__',
 '__copy__',
 '__deepcopy__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_free_buffer',
 '_to_predictor',
 'add_valid',
 'attr',
 'best_iteration',
 'best_score',
 'current_iteration',
 'dump_model',
 'eval',
 'eval_train',
 'eval_valid',
 'feature_importance',
 'feature_name',
 'free_dataset',
 'free_network',
 'get_leaf_output',
 'handle',
 'model_from_string',
 'model_to_string',
 'name_valid_sets',
 'network',
 'num_feature',
 'num_model_per_iteration',
 'num_trees',
 'pandas_categorical',
 'params',
 'predict',
 'refit',
 'reset_parameter',
 'rollback_one_iter',
 'save_model',
 'set_attr',
 'set_network',
 'set_train_data_name',
 'shuffle_models',
 'update']

In [ ]:
№0.896081
-- country part

In [ ]:
#0.897243
#0.895661
#0.900202
#0.900994
#0.900544
#0.901319 with 1
#0.900871 with -1 and 1
#0.902729
#0.899255
0.902628
#0.896363
#!pip install catboost
#from catboost import CatBoostRegressor

#model = CatBoostRegressor(
#    n_estimators = 200,
#    loss_function = 'RMSE',
#    eval_metric = 'RMSE',
#    cat_features = feature_name_indexes )

#model.fit( X_train[feature_name], Y_train.astype('int64'), verbose_eval=5, use_best_model=True, eval_set=(X_valid[feature_name],
#                                                                                                          Y_valid.astype('int64')),
#          plot=True )

In [87]:
#0.897263 
list(zip(gbm.feature_name(),gbm.feature_importance()))

[('shop_id', 2328),
 ('item_id', 5972),
 ('date_block_num', 5471),
 ('item_category_common', 1384),
 ('item_category_code', 5544),
 ('city_code', 3192),
 ('city_coord_1', 316),
 ('city_coord_2', 308),
 ('country_part', 76),
 ('shop_item_first_interaction', 178),
 ('item_first_interaction', 317),
 ('item_cnt_month_lag_1', 1198),
 ('item_cnt_month_lag_2', 1238),
 ('item_cnt_month_lag_3', 988),
 ('item_shop_price_avg_lag_1', 738),
 ('item_shop_price_avg_lag_2', 667),
 ('item_shop_price_avg_lag_3', 259),
 ('delta_price_lag_1', 2498),
 ('delta_price_lag_2', 1074),
 ('delta_price_lag_3', 623),
 ('weeknd_count', 842),
 ('days_in_month', 1153),
 ('item_target_enc_lag_1', 3124),
 ('item_target_enc_lag_2', 1572),
 ('item_target_enc_lag_3', 740),
 ('item_loc_target_enc_lag_1', 528),
 ('item_loc_target_enc_lag_2', 263),
 ('item_loc_target_enc_lag_3', 245),
 ('item_shop_target_enc_lag_1', 340),
 ('item_shop_target_enc_lag_2', 334),
 ('item_shop_target_enc_lag_3', 354),
 ('delta_count_month_1', 459),
 ('delta_count_month_2', 155)]

In [119]:
#0.898794 kaggle best
#delere fillna before calculating
for col in feature_name:
    print(col, df[col].mean())
list(zip(gbm.feature_name(),gbm.feature_importance()))

shop_id 31.438982121274293
item_id 11297.554650927037
date_block_num 16.93311237690872
item_category_common 11.057187298471975
item_category_code 44.95345177048692
city_code 15.363836568083578
city_coord_1 52.954343977175824
city_coord_2 48.835742765760855
country_part 2.680637967633102
shop_item_first_interaction 0.06597968365976804
item_first_interaction 0.05598993384192975
item_cnt_month_lag_1 0.29191386699676514
item_cnt_month_lag_2 0.29218897223472595
item_cnt_month_lag_3 0.2917971909046173
item_shop_price_avg_lag_1 -0.00019763567252084613
item_shop_price_avg_lag_2 -0.00016628818411845714
item_shop_price_avg_lag_3 -0.00018122559413313866
delta_price_lag_1 -0.01163566019386053
delta_price_lag_2 -0.003641759743914008
delta_price_lag_3 0.00516240019351244
weeknd_count 4.3381911800917345
days_in_month 30.447458605149734
item_target_enc_lag_1 0.2850801646709442
item_target_enc_lag_2 0.2853277325630188
item_target_enc_lag_3 0.28537142276763916
item_loc_target_enc_lag_1 0.2904163897037506
item_loc_target_enc_lag_2 0.28977128863334656
item_loc_target_enc_lag_3 0.28856533765792847
item_shop_target_enc_lag_1 0.29191386699676514
item_shop_target_enc_lag_2 0.29218897223472595
item_shop_target_enc_lag_3 0.2917971909046173
delta_count_month_1 -0.5689446330070496
delta_count_month_2 -0.5467674732208252

[('shop_id', 2406),
 ('item_id', 5925),
 ('date_block_num', 5229),
 ('item_category_common', 1346),
 ('item_category_code', 5460),
 ('city_code', 3164),
 ('city_coord_1', 274),
 ('city_coord_2', 309),
 ('country_part', 69),
 ('shop_item_first_interaction', 167),
 ('item_first_interaction', 298),
 ('item_cnt_month_lag_1', 1298),
 ('item_cnt_month_lag_2', 1169),
 ('item_cnt_month_lag_3', 1106),
 ('item_shop_price_avg_lag_1', 691),
 ('item_shop_price_avg_lag_2', 216),
 ('item_shop_price_avg_lag_3', 99),
 ('delta_price_lag_1', 2368),
 ('delta_price_lag_2', 1020),
 ('delta_price_lag_3', 617),
 ('weeknd_count', 868),
 ('days_in_month', 1184),
 ('item_target_enc_lag_1', 3057),
 ('item_target_enc_lag_2', 1571),
 ('item_target_enc_lag_3', 748),
 ('item_loc_target_enc_lag_1', 568),
 ('item_loc_target_enc_lag_2', 301),
 ('item_loc_target_enc_lag_3', 233),
 ('item_shop_target_enc_lag_1', 365),
 ('item_shop_target_enc_lag_2', 305),
 ('item_shop_target_enc_lag_3', 396),
 ('delta_count_month_1', 791),
 ('delta_count_month_2', 230)]

In [29]:
#without +1 -1 for delta
#0.901784
for col in feature_name:
    print(col, df[col].mean())
list(zip(gbm.feature_name(),gbm.feature_importance()))

shop_id 31.438982121274293
item_id 11297.554650927037
date_block_num 16.93311237690872
item_category_common 11.057187298471975
item_category_code 44.95345177048692
city_code 15.363836568083578
city_coord_1 52.954343977175824
city_coord_2 48.835742765760855
country_part 2.680637967633102
shop_item_first_interaction 0.06597968365976804
item_first_interaction 0.05598993384192975
item_cnt_month_lag_1 0.29191386699676514
item_cnt_month_lag_2 0.29218897223472595
item_cnt_month_lag_3 0.2917971909046173
item_shop_price_avg_lag_1 -0.00019763567252084613
item_shop_price_avg_lag_2 -0.00016628818411845714
item_shop_price_avg_lag_3 -0.00018122559413313866
delta_price_lag_1 -0.01163566019386053
delta_price_lag_2 -0.003641759743914008
delta_price_lag_3 0.00516240019351244
weeknd_count 4.3381911800917345
days_in_month 30.447458605149734
item_target_enc_lag_1 0.2850801646709442
item_target_enc_lag_2 0.2853277325630188
item_target_enc_lag_3 0.28537142276763916
item_loc_target_enc_lag_1 0.2904163897037506
item_loc_target_enc_lag_2 0.28977128863334656
item_loc_target_enc_lag_3 0.28856533765792847
item_shop_target_enc_lag_1 0.29191386699676514
item_shop_target_enc_lag_2 0.29218897223472595
item_shop_target_enc_lag_3 0.2917971909046173
delta_count_month_1 inf
delta_count_month_2 inf

[('shop_id', 1716),
 ('item_id', 4433),
 ('date_block_num', 3797),
 ('item_category_common', 1004),
 ('item_category_code', 4257),
 ('city_code', 2666),
 ('city_coord_1', 242),
 ('city_coord_2', 271),
 ('country_part', 63),
 ('shop_item_first_interaction', 90),
 ('item_first_interaction', 224),
 ('item_cnt_month_lag_1', 1111),
 ('item_cnt_month_lag_2', 973),
 ('item_cnt_month_lag_3', 907),
 ('item_shop_price_avg_lag_1', 396),
 ('item_shop_price_avg_lag_2', 131),
 ('item_shop_price_avg_lag_3', 51),
 ('delta_price_lag_1', 1422),
 ('delta_price_lag_2', 549),
 ('delta_price_lag_3', 285),
 ('weeknd_count', 636),
 ('days_in_month', 822),
 ('item_target_enc_lag_1', 2148),
 ('item_target_enc_lag_2', 1035),
 ('item_target_enc_lag_3', 465),
 ('item_loc_target_enc_lag_1', 343),
 ('item_loc_target_enc_lag_2', 208),
 ('item_loc_target_enc_lag_3', 182),
 ('item_shop_target_enc_lag_1', 364),
 ('item_shop_target_enc_lag_2', 235),
 ('item_shop_target_enc_lag_3', 330),
 ('delta_count_month_1', 716),
 ('delta_count_month_2', 58)]

In [ ]:
#without +1 -1 for delta
#0.901784
for col in feature_name:
    print(col, df[col].mean())
list(zip(gbm.feature_name(),gbm.feature_importance()))

In [30]:
#0.896482
for col in feature_name:
    print(col, df[col].mean())
list(zip(gbm.feature_name(),gbm.feature_importance()))

shop_id 31.438982121274293
item_id 11297.554650927037
date_block_num 16.93311237690872
item_category_common 11.057187298471975
item_category_code 44.95345177048692
city_code 15.363836568083578
city_coord_1 52.954343977175824
city_coord_2 48.835742765760855
country_part 2.680637967633102
shop_item_first_interaction 0.06597968365976804
item_first_interaction 0.05598993384192975
item_cnt_month_lag_1 0.29191386699676514
item_cnt_month_lag_2 0.29218897223472595
item_cnt_month_lag_3 0.2917971909046173
item_shop_price_avg_lag_1 -0.6578544974327087
item_shop_price_avg_lag_2 -0.6284127831459045
item_shop_price_avg_lag_3 -0.5996416211128235
delta_price_lag_1 -0.01163566019386053
delta_price_lag_2 -0.003641759743914008
delta_price_lag_3 0.00516240019351244
weeknd_count 4.3381911800917345
days_in_month 30.447458605149734
item_target_enc_lag_1 0.2850801646709442
item_target_enc_lag_2 0.2853277325630188
item_target_enc_lag_3 0.28537142276763916
item_loc_target_enc_lag_1 0.2904163897037506
item_loc_target_enc_lag_2 0.28977128863334656
item_loc_target_enc_lag_3 0.28856533765792847
item_shop_target_enc_lag_1 0.29191386699676514
item_shop_target_enc_lag_2 0.29218897223472595
item_shop_target_enc_lag_3 0.2917971909046173
delta_count_month_1 -0.5689446330070496
delta_count_month_2 -0.5467674732208252

[('shop_id', 6136),
 ('item_id', 14283),
 ('date_block_num', 12337),
 ('item_category_common', 3072),
 ('item_category_code', 14427),
 ('city_code', 7130),
 ('city_coord_1', 714),
 ('city_coord_2', 759),
 ('country_part', 156),
 ('shop_item_first_interaction', 541),
 ('item_first_interaction', 768),
 ('item_cnt_month_lag_1', 3529),
 ('item_cnt_month_lag_2', 2512),
 ('item_cnt_month_lag_3', 2237),
 ('item_shop_price_avg_lag_1', 1925),
 ('item_shop_price_avg_lag_2', 1449),
 ('item_shop_price_avg_lag_3', 656),
 ('delta_price_lag_1', 7212),
 ('delta_price_lag_2', 3085),
 ('delta_price_lag_3', 2096),
 ('weeknd_count', 2029),
 ('days_in_month', 2926),
 ('item_target_enc_lag_1', 7901),
 ('item_target_enc_lag_2', 4159),
 ('item_target_enc_lag_3', 2254),
 ('item_loc_target_enc_lag_1', 2005),
 ('item_loc_target_enc_lag_2', 839),
 ('item_loc_target_enc_lag_3', 571),
 ('item_shop_target_enc_lag_1', 927),
 ('item_shop_target_enc_lag_2', 685),
 ('item_shop_target_enc_lag_3', 744),
 ('delta_count_month_1', 1647),
 ('delta_count_month_2', 303)]

In [36]:
#0.896424
for col in feature_name:
    print(col, df[col].mean())
list(zip(gbm.feature_name(),gbm.feature_importance()))

shop_id 31.438982121274293
item_id 11297.554650927037
date_block_num 16.93311237690872
item_category_common 11.057187298471975
item_category_code 44.95345177048692
city_code 15.363836568083578
city_coord_1 52.954343977175824
city_coord_2 48.835742765760855
country_part 2.680637967633102
shop_item_first_interaction 0.06597968365976804
item_first_interaction 0.05598993384192975
item_cnt_month_lag_1 0.29191386699676514
item_cnt_month_lag_2 0.29218897223472595
item_cnt_month_lag_3 0.2917971909046173
item_shop_price_avg_lag_1 -0.6578544974327087
item_shop_price_avg_lag_2 -0.6284127831459045
item_shop_price_avg_lag_3 -0.5996416211128235
delta_price_lag_1 -0.01163566019386053
delta_price_lag_2 -0.003641759743914008
delta_price_lag_3 0.00516240019351244
weeknd_count 4.3381911800917345
days_in_month 30.447458605149734
item_target_enc_lag_1 0.2850801646709442
item_target_enc_lag_2 0.2853277325630188
item_target_enc_lag_3 0.28537142276763916
item_loc_target_enc_lag_1 0.2904163897037506
item_loc_target_enc_lag_2 0.28977128863334656
item_loc_target_enc_lag_3 0.28856533765792847
item_shop_target_enc_lag_1 0.29191386699676514
item_shop_target_enc_lag_2 0.29218897223472595
item_shop_target_enc_lag_3 0.2917971909046173
delta_count_month_1 inf
delta_count_month_2 inf

[('shop_id', 5548),
 ('item_id', 13074),
 ('date_block_num', 11453),
 ('item_category_common', 2773),
 ('item_category_code', 13142),
 ('city_code', 6681),
 ('city_coord_1', 666),
 ('city_coord_2', 706),
 ('country_part', 162),
 ('shop_item_first_interaction', 465),
 ('item_first_interaction', 689),
 ('item_cnt_month_lag_1', 3028),
 ('item_cnt_month_lag_2', 2652),
 ('item_cnt_month_lag_3', 2058),
 ('item_shop_price_avg_lag_1', 1785),
 ('item_shop_price_avg_lag_2', 1517),
 ('item_shop_price_avg_lag_3', 538),
 ('delta_price_lag_1', 6222),
 ('delta_price_lag_2', 2675),
 ('delta_price_lag_3', 1730),
 ('weeknd_count', 1898),
 ('days_in_month', 2623),
 ('item_target_enc_lag_1', 7056),
 ('item_target_enc_lag_2', 3795),
 ('item_target_enc_lag_3', 1967),
 ('item_loc_target_enc_lag_1', 1634),
 ('item_loc_target_enc_lag_2', 666),
 ('item_loc_target_enc_lag_3', 476),
 ('item_shop_target_enc_lag_1', 854),
 ('item_shop_target_enc_lag_2', 738),
 ('item_shop_target_enc_lag_3', 646),
 ('delta_count_month_1', 392),
 ('delta_count_month_2', 617)]

In [76]:
#0.896363
for col in feature_name:
    print(col, df[col].mean())
list(zip(gbm.feature_name(),gbm.feature_importance()))

shop_id 31.438982121274293
item_id 11297.554650927037
date_block_num 16.93311237690872
item_category_common 11.057187298471975
item_category_code 44.95345177048692
city_code 15.363836568083578
city_coord_1 52.954343977175824
city_coord_2 48.835742765760855
country_part 2.680637967633102
shop_item_first_interaction 0.06597968365976804
item_first_interaction 0.05598993384192975
item_cnt_month_lag_1 0.29191386699676514
item_cnt_month_lag_2 0.29218897223472595
item_cnt_month_lag_3 0.2917971909046173
item_shop_price_avg_lag_1 -0.6578544974327087
item_shop_price_avg_lag_2 -0.6284127831459045
item_shop_price_avg_lag_3 -0.5996416211128235
weeknd_count 4.3381911800917345
days_in_month 30.447458605149734
item_target_enc_lag_1 0.2850801646709442
item_target_enc_lag_2 0.2853277325630188
item_target_enc_lag_3 0.28537142276763916
item_loc_target_enc_lag_1 0.2904163897037506
item_loc_target_enc_lag_2 0.28977128863334656
item_loc_target_enc_lag_3 0.28856533765792847
item_shop_target_enc_lag_1 0.29191386699676514
item_shop_target_enc_lag_2 0.29218897223472595
item_shop_target_enc_lag_3 0.2917971909046173
delta_count_month_1 inf
delta_count_month_2 inf

[('shop_id', 6929),
 ('item_id', 16635),
 ('date_block_num', 14155),
 ('item_category_common', 3306),
 ('item_category_code', 15308),
 ('city_code', 7842),
 ('city_coord_1', 866),
 ('city_coord_2', 771),
 ('country_part', 167),
 ('shop_item_first_interaction', 592),
 ('item_first_interaction', 746),
 ('item_cnt_month_lag_1', 3947),
 ('item_cnt_month_lag_2', 2607),
 ('item_cnt_month_lag_3', 2334),
 ('item_shop_price_avg_lag_1', 2787),
 ('item_shop_price_avg_lag_2', 1796),
 ('item_shop_price_avg_lag_3', 1050),
 ('weeknd_count', 2480),
 ('days_in_month', 3262),
 ('item_target_enc_lag_1', 8798),
 ('item_target_enc_lag_2', 4599),
 ('item_target_enc_lag_3', 2854),
 ('item_loc_target_enc_lag_1', 2285),
 ('item_loc_target_enc_lag_2', 1024),
 ('item_loc_target_enc_lag_3', 717),
 ('item_shop_target_enc_lag_1', 1034),
 ('item_shop_target_enc_lag_2', 680),
 ('item_shop_target_enc_lag_3', 846),
 ('delta_count_month_1', 1707),
 ('delta_count_month_2', 268)]

In [43]:
l2 = list(zip(gbm.feature_name(),gbm.feature_importance()))

In [ ]:
214200 
for col in feature_name:
    print(col, sum(X_test[col] == 0) / X_test.shape[0], sum(X_valid[col] == 0) / X_valid.shape[0], sum(X_train[col] == 0) / X_train.shape[0], sum(X_test[col] == 0) / (sum(X_train[col] == 0)+1))

In [37]:
for col in feature_name:
    print(col, sum(df[col] == np.inf))

shop_id 0
item_id 0
date_block_num 0
item_category_common 0
item_category_code 0
city_code 0
city_coord_1 0
city_coord_2 0
country_part 0
item_first_interaction 0
shop_item_sold_before 0
item_cnt_month_lag_1 0
item_cnt_month_lag_2 0
item_cnt_month_lag_3 0
item_shop_price_avg_lag_1 0
item_shop_price_avg_lag_2 0
item_shop_price_avg_lag_3 0
weeknd_count 0
days_in_month 0
item_target_enc_lag_1 0
item_target_enc_lag_2 0
item_target_enc_lag_3 0
item_loc_target_enc_lag_1 0
item_loc_target_enc_lag_2 0
item_loc_target_enc_lag_3 0
item_shop_target_enc_lag_1 0
item_shop_target_enc_lag_2 0
item_shop_target_enc_lag_3 0
delta_count_month_1 642857
delta_count_month_2 634350

In [36]:
X_test[feature_name].fillna(0, inplace=True)
Y_test = gbm.predict(X_test[feature_name]).clip(0, 20)

submission = pd.DataFrame({
    "ID": test.index, 
    "item_cnt_month": Y_test
})
submission.to_csv('xgb_submission.csv', index=False)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
#with open('best_model_0.87.pkl', 'rb') as f:
#model = pickle.load(open( 'best_model_0.87.pkl', "rb" ))

UnpicklingError: ignored

In [ ]:
Y_pred_test = gbm.predict(X_valid[feature_name]).clip(0, 20)

In [ ]:
gbm.feature_importance()

array([1782, 4327, 3690, 1081, 4159,  104,  218, 1155,  860,  919,  474,
        436,  212, 1458,  561,  269,  620,  840, 2194,  901,  468, 2665,
        246,  278,   77,  323,  219,  199,  269,  210,  250,  617,   49])

In [36]:
gbm.feature_importance()

array([1704, 4445, 3827,  991, 4206, 2606,  259,  273,   64,   96,  224,
        960, 1038,  834,  427,  575,  213, 1460,  599,  285,  638,  807,
       2126, 1025,  413,  325,  194,  183,  323,  275,  304,  313,  118])

In [37]:
gbm.feature_name()

['shop_id',
 'item_id',
 'date_block_num',
 'item_category_common',
 'item_category_code',
 'city_code',
 'city_coord_1',
 'city_coord_2',
 'country_part',
 'shop_item_first_interaction',
 'item_first_interaction',
 'item_cnt_month_lag_1',
 'item_cnt_month_lag_2',
 'item_cnt_month_lag_3',
 'item_shop_price_avg_lag_1',
 'item_shop_price_avg_lag_2',
 'item_shop_price_avg_lag_3',
 'delta_price_lag_lag_1',
 'delta_price_lag_lag_2',
 'delta_price_lag_lag_3',
 'weeknd_count',
 'days_in_month',
 'item_target_enc_lag_1',
 'item_target_enc_lag_2',
 'item_target_enc_lag_3',
 'item_loc_target_enc_lag_1',
 'item_loc_target_enc_lag_2',
 'item_loc_target_enc_lag_3',
 'item_shop_target_enc_lag_1',
 'item_shop_target_enc_lag_2',
 'item_shop_target_enc_lag_3',
 'delta_count_month_1',
 'delta_count_month_2']

In [42]:
gbm1 = ['shop_id',
 'item_id',
 'date_block_num',
 'item_category_common',
 'item_category_code',
 'shop_item_first_interaction',
 'item_first_interaction',
 'item_cnt_month_lag_1',
 'item_cnt_month_lag_2',
 'item_cnt_month_lag_3',
 'item_shop_price_avg_lag_1',
 'item_shop_price_avg_lag_2',
 'item_shop_price_avg_lag_3',
 'delta_price_lag_lag_1',
 'delta_price_lag_lag_2',
 'delta_price_lag_lag_3',
 'weeknd_count',
 'days_in_month',
 'item_target_enc_lag_1',
 'item_target_enc_lag_2',
 'item_target_enc_lag_3',
 'city_code',
 'city_coord_1',
 'city_coord_2',
 'country_part',
 'item_loc_target_enc_lag_1',
 'item_loc_target_enc_lag_2',
 'item_loc_target_enc_lag_3',
 'item_shop_target_enc_lag_1',
 'item_shop_target_enc_lag_2',
 'item_shop_target_enc_lag_3',
 'delta_count_month_1',
 'delta_count_month_2']

l1 = list(zip(gbm1,[1782, 4327, 3690, 1081, 4159,  104,  218, 1155,  860,  919,  474,
        436,  212, 1458,  561,  269,  620,  840, 2194,  901,  468, 2665,
        246,  278,   77,  323,  219,  199,  269,  210,  250,  617,   49]))

In [ ]:
X_train[(X_train['item_first_interaction'] == 1) & (X_train['item_cnt_month_lag_2'] > 0)]

In [ ]:
pd.DataFrame(Y_pred_test)

In [ ]:
df1 = pd.concat([X_valid.reset_index(), Y_valid.reset_index(),pd.DataFrame(Y_pred_test).reset_index()], axis=1)

In [47]:
l3 = [('shop_id', 3349), ('item_id', 7667), ('date_block_num', 6911), ('city_code', 3876), ('city_coord_1', 415), ('city_coord_2', 382), ('country_part', 90), ('item_category_common', 1538), ('item_category_code', 8124), ('shop_item_first_interaction', 345), ('item_first_interaction', 426), ('item_cnt_month_lag_1', 2154), ('item_cnt_month_lag_2', 1379), ('item_cnt_month_lag_3', 1268), ('item_shop_price_avg_lag_1', 1181), ('item_shop_price_avg_lag_2', 812), ('item_shop_price_avg_lag_3', 340), ('delta_price_lag_lag_1', 4173), ('delta_price_lag_lag_2', 1854), ('delta_price_lag_lag_3', 1269), ('weeknd_count', 1097), ('days_in_month', 1648), ('item_target_enc_lag_1', 4576), ('item_target_enc_lag_2', 2373), ('item_target_enc_lag_3', 1368), ('item_loc_target_enc_lag_1', 1173), ('item_loc_target_enc_lag_2', 459), ('item_loc_target_enc_lag_3', 306), ('item_shop_target_enc_lag_1', 537), ('item_shop_target_enc_lag_2', 338), ('item_shop_target_enc_lag_3', 348), ('delta_count_month_1', 776), ('delta_count_month_2', 70)]

In [48]:
l3

[('shop_id', 3349),
 ('item_id', 7667),
 ('date_block_num', 6911),
 ('city_code', 3876),
 ('city_coord_1', 415),
 ('city_coord_2', 382),
 ('country_part', 90),
 ('item_category_common', 1538),
 ('item_category_code', 8124),
 ('shop_item_first_interaction', 345),
 ('item_first_interaction', 426),
 ('item_cnt_month_lag_1', 2154),
 ('item_cnt_month_lag_2', 1379),
 ('item_cnt_month_lag_3', 1268),
 ('item_shop_price_avg_lag_1', 1181),
 ('item_shop_price_avg_lag_2', 812),
 ('item_shop_price_avg_lag_3', 340),
 ('delta_price_lag_lag_1', 4173),
 ('delta_price_lag_lag_2', 1854),
 ('delta_price_lag_lag_3', 1269),
 ('weeknd_count', 1097),
 ('days_in_month', 1648),
 ('item_target_enc_lag_1', 4576),
 ('item_target_enc_lag_2', 2373),
 ('item_target_enc_lag_3', 1368),
 ('item_loc_target_enc_lag_1', 1173),
 ('item_loc_target_enc_lag_2', 459),
 ('item_loc_target_enc_lag_3', 306),
 ('item_shop_target_enc_lag_1', 537),
 ('item_shop_target_enc_lag_2', 338),
 ('item_shop_target_enc_lag_3', 348),
 ('delta_count_month_1', 776),
 ('delta_count_month_2', 70)]

In [44]:
l1

[('shop_id', 1782),
 ('item_id', 4327),
 ('date_block_num', 3690),
 ('item_category_common', 1081),
 ('item_category_code', 4159),
 ('shop_item_first_interaction', 104),
 ('item_first_interaction', 218),
 ('item_cnt_month_lag_1', 1155),
 ('item_cnt_month_lag_2', 860),
 ('item_cnt_month_lag_3', 919),
 ('item_shop_price_avg_lag_1', 474),
 ('item_shop_price_avg_lag_2', 436),
 ('item_shop_price_avg_lag_3', 212),
 ('delta_price_lag_lag_1', 1458),
 ('delta_price_lag_lag_2', 561),
 ('delta_price_lag_lag_3', 269),
 ('weeknd_count', 620),
 ('days_in_month', 840),
 ('item_target_enc_lag_1', 2194),
 ('item_target_enc_lag_2', 901),
 ('item_target_enc_lag_3', 468),
 ('city_code', 2665),
 ('city_coord_1', 246),
 ('city_coord_2', 278),
 ('country_part', 77),
 ('item_loc_target_enc_lag_1', 323),
 ('item_loc_target_enc_lag_2', 219),
 ('item_loc_target_enc_lag_3', 199),
 ('item_shop_target_enc_lag_1', 269),
 ('item_shop_target_enc_lag_2', 210),
 ('item_shop_target_enc_lag_3', 250),
 ('delta_count_month_1', 617),
 ('delta_count_month_2', 49)]

In [45]:
l2

[('shop_id', 1704),
 ('item_id', 4445),
 ('date_block_num', 3827),
 ('item_category_common', 991),
 ('item_category_code', 4206),
 ('city_code', 2606),
 ('city_coord_1', 259),
 ('city_coord_2', 273),
 ('country_part', 64),
 ('shop_item_first_interaction', 96),
 ('item_first_interaction', 224),
 ('item_cnt_month_lag_1', 960),
 ('item_cnt_month_lag_2', 1038),
 ('item_cnt_month_lag_3', 834),
 ('item_shop_price_avg_lag_1', 427),
 ('item_shop_price_avg_lag_2', 575),
 ('item_shop_price_avg_lag_3', 213),
 ('delta_price_lag_lag_1', 1460),
 ('delta_price_lag_lag_2', 599),
 ('delta_price_lag_lag_3', 285),
 ('weeknd_count', 638),
 ('days_in_month', 807),
 ('item_target_enc_lag_1', 2126),
 ('item_target_enc_lag_2', 1025),
 ('item_target_enc_lag_3', 413),
 ('item_loc_target_enc_lag_1', 325),
 ('item_loc_target_enc_lag_2', 194),
 ('item_loc_target_enc_lag_3', 183),
 ('item_shop_target_enc_lag_1', 323),
 ('item_shop_target_enc_lag_2', 275),
 ('item_shop_target_enc_lag_3', 304),
 ('delta_count_month_1', 313),
 ('delta_count_month_2', 118)]

In [ ]:
df[df['item_id'] == 7223]

In [ ]:
df1[df1['item_id'] == 10201][feature_name].head()

       shop_id  item_id  ...  delta_count_month_1  delta_count_month_2
448         45    10201  ...             0.228468             0.037629
5861        46    10201  ...             0.228468             0.037629
11274       44    10201  ...             0.228468             0.037629
16687       41    10201  ...             0.228468             0.037629
22100       39    10201  ...             0.228468             0.037629

[5 rows x 33 columns]

In [ ]:
df1.groupby('item_id')['rmse'].sum().sort_values()

item_id
4184        0.016337
564         0.017951
871         0.017951
889         0.018122
16285       0.018828
            ...
7224     2636.565573
1583     2892.055238
10202    4895.895121
7223     6268.910623
10201    7888.834109
Name: rmse, Length: 5413, dtype: float64

In [ ]:
df1.groupby('item_id')['rmse'].sum().sort_values()

In [ ]:
items[items['item_id'] == 1583]

In [ ]:
#from xgboost import XGBRegressor
#model = XGBRegressor(
#    max_depth=10,
#    min_child_weight=0.5, 
#    colsample_bytree=0.8, 
#    subsample=0.8, 
#    eta=0.1,
#     tree_method='gpu_hist',
#    seed=42)

#model.fit(
#    X_train, 
#    Y_train, 
#    eval_metric="rmse", 
#    eval_set=[(X_train, Y_train), (X_valid, Y_valid)], 
#    verbose=True, 
#    early_stopping_rounds = 20)

In [ ]:
feature_name

In [ ]:
#0.935226
#0.935715
#0.931289
#0.918754
#0.924846
#0.924846
#0.923147
#0.917676
#0.914308 
#0.912568
#0.916846
#0.916665
#0.912285
#0.914761 cat mean enc
#0.915836
#0.910541
#0.914833
#0.904
#0.909211
#0.909396

In [ ]:
lgb.plot_importance(
    gbm, 
    max_num_features=50, 
    importance_type='split', 
    figsize=(12,8));

In [ ]:
lgb.plot_importance(
    gbm, 
    max_num_features=50, 
    importance_type='gain', 
    figsize=(12,8));

In [ ]:
lgb.plot_importance(
    gbm, 
    max_num_features=50, 
    importance_type='gain', 
    figsize=(12,8));

In [ ]:
#items_subset = items[['item_id', 'item_name']]
#feature_count = 35
#tfidf = TfidfVectorizer(max_features=feature_count)
#items_df_item_name_text_features = pd.DataFrame(tfidf.fit_transform(items_subset['item_name']).toarray())

#cols = items_df_item_name_text_features.columns
#for i in range(feature_count):
#    feature_name = 'item_name_tfidf_' + str(i)
#    items_subset[feature_name] = items_df_item_name_text_features[cols[i]]

#items_subset.drop('item_name', axis = 1, inplace = True)